*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #990000;
}
h1{
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    -webkit-text-stroke: 1px black;
}
h2{
    text-decoration: none;
    color: rgb(234, 238, 10);
    font-size: 30px;
    -webkit-text-stroke: 0.5px black;
}
.subtitulo{
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
    -webkit-text-stroke: 0.5px black;

}
a{
    text-decoration: none;
    color: white;
}
.lil{
    text-decoration: none;
    color: white;
    text-align:center;
    display: flex;
    justify-content: center;
}
.lil ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: uppercase;
}
section{
    background-color: #b30000;
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
p{
    text-align: justify;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin: 20px;
    padding: 10px;
    margin-bottom: 500px;
}
.contacto{
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    -webkit-text-stroke: 0.5px black;
    margin-bottom: 30px;
}
.formulario{
    display: 60px;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 10px;
}
.tituloformulario{
    text-decoration: none;
    color: rgb(234, 238, 10);
    text-align: center;
    display: flex;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
    margin-bottom: 10px;
}
.boton-enviar{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
