* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-fondo-palometas: #900000;
  --color-fondo-palometas-oscuro: #830202;
  --color-letras-palometas: white;
  --color-letras-palometas-claro: #f75858;
  --shadow: 0 10px 20px rgba(255, 195, 195, 0.747), 0 1px 0 rgba(0, 0, 0, 0.04);
  --shadow-text: 0 10px 20px rgba(252, 248, 248, 0.747),
    0 1px 0 rgba(0, 0, 0, 0.04);
  --color-linea-letra: 1px black;
  --color-linea-letra-chica: 0.5px black;
}
body {
  background-color: var(--color-fondo-palometas);
}
.titulo {
  margin-top: 20px;
  color: var(--color-letras-palometas);
  display: flex;
  font-size: 5rem;
  text-align: center;
  text-shadow: var(--shadow);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0.5px 20px;
  text-transform: uppercase;
  -webkit-text-stroke: var(--color-linea-letra);
}
.logo {
  display: flex;
  width: 90px;
  height: 90px;
  transition: all 0.8s ease;
  animation: saltar 0.5s ease-out;
}
@keyframes saltar {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
a {
  text-decoration: none;
  color: var(--color-letras-palometas);
}
h2 {
  font-family: EngraversGothic BT, sans-serif;
  color: black;
  font-size: 3.5rem;
  text-decoration: none;
  -webkit-text-stroke: 0.1px white;
}
.menu {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}
.menu li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
.menu li:hover {
  color: var(--color-letras-palometas);
  text-shadow: var(--shadow-text);
  transition: all 0.3s ease;
  transform: scale(1.2);
}
.seleccionado a {
  text-shadow: var(--shadow-text);
  -webkit-text-stroke: var(--color-linea-letra-chica);
}
.submenu li {
  padding: 10px;
  font-size: 1.5rem;
}
.barra-vacia {
  display: flex;
  flex: center;
  height: 0.1px;
  width: 80%;
  background-color: white;
}
.contenido {
  margin: 10px 150px;
  
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-letras-palometas);
  font-size: 1.5rem;
  position: sticky;
  justify-content: center;
  text-align: center;
}
.contenido img {
  width: 200px;
  height: auto;
  border-radius: 50px;
  box-shadow: var(--shadow);
  margin: 0px 20px 10px 0px;
}
.contenido p {
  margin: 5px 50px;
  text-align: center;
  text-justify: justify;
  line-height: 40px;
}
.contenido a {
  font-size: 2rem;
}
.contenido img:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
}
.formulario_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: var(--color-letras-palometas);
}
.formulario_contacto p {
  font-size: 1.5rem;
  margin: 0px 300px 20px 300px;
  text-align: center;
}
.formulario_contacto h2 {
  font-size: 2rem;
  margin: 0px 200px 20px 200px;
}
.formulario_contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contenedor{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 20px 150px;
  
}
.publicidad{
  width: 180px;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 1100px){
  .contenedor {margin: 10px 50px;}
}
@media (max-width: 900px){
  .contenedor {margin: 10px 0px;}
  .titulo{ font-size: 2.8rem; margin-top: 10px;}
  .contenido { margin: 0px 100px; padding: 0px; flex-wrap: wrap; font-size: 1rem;}
  .contenido img { width: 130px; height: auto; margin: 10px 10px;}
  .contenido p { margin: 30px 0px; padding: 0px; line-height: 30px}
  .logo{ width: 50px; height: 50px; margin: 0px 5px;}
}
@media (max-width: 600px) {
  h2{ font-size: 2rem; margin-top: 10px;}
  body{margin-top: 20px;}
  .menu {font-size: 1rem; margin-top: 5px;}
  .menu h2 {font-size: 1rem;}
  .contenido { margin: 0px 60px; padding: 0px; flex-wrap: wrap; font-size: 1rem;}
  .contenido p { margin: 30px 40px; padding: 0px;line-height: 30px}
  .contenido img { width: 130px; height: 90px; margin: 10px 10px;}
  .contenido a { font-size: 1.2rem;}
  .titulo{ font-size: 2rem; padding: 0px; margin-top: 10px;}
  .logo{ width: 35px; height: 35px; margin: 0px 5px;}
  .contenedor{margin: 10px 5px;}
}

